/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Conmebol Copa America 2021 style */
.container{
    /* width: 1440px; */
    width: 100%;
    height: 677px;
    background: #2D25A0;
    display: flex;
    margin-bottom: 70px;
}
.first-section{
    padding: 207px 102px 240px 156px;
    width: 485px;
}
.section-title{
    font-family: Poppins;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 27px;
}
.section-image img{
    width: 556px;
    height: 438px;
    padding: 135px 140px 114px 100px;
    overflow: hidden;
}
.section-image img:hover{
transform: scale(1.05);
transition: transform 1s ease-in-out 0.1s;
}
.first-section a, .highlights-info a{
    text-decoration: none;
    padding: 10px 30px;
    background: #E02C6D;
    color: white;
}
.left-arrow{
padding-left: 8px;
}
/* players style*/
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 180px;
    margin-right: 180px;
    /* display: flex; */
}
.player{
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    margin-bottom: 27px;
    overflow: hidden;
}
.player:hover{
    transform: scale(1.001);
    transition: transform 1s;
    border: 1px solid rgba(255, 0, 0, 0.418);
}
.player img{
    width: 100%;
}
/* highlight style */
.highlights-section{
    margin-top: 138px;
    margin-left: 180px;
    display: flex;
    margin-bottom: 120px;
    /* margin-right: 180px; */
}
.highlights-info{
    width: 469px;
    margin-right: 120px;
    padding-top: 59px;
    font-family: Poppins;
    
}
.highlights-title{
    
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 0px;
}
.highlights-text{
    margin-top: 0px;
}
.highlight-image img{
    width: 567px;
    height: 427px;
}
/* Store Style */
.store{
    margin-left: 180px;
    margin-right: 140px;
    margin-bottom: 100px;
}
.store-title h1{
    font-family: Poppins;
    font-weight: bold;
    font-size: 35px;
    color: #E3B01F
}
.sharts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.shart{
    width: 330px;
}
.shart:hover{
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 255, 128, 0.5);
    /* border: 1px solid rgba(128, 128, 128, 0.507) */
}
.shart img{
    width: 100%;
}
.bu{
    position: relative;
    padding-top: 30px;
    padding-right: 60px;
}
.bu a{
    position: absolute;
    top: 100%;
    left: 40%;
    text-decoration: none;
    padding: 10px 50px;
    background-color: #E02C6D;
    color: white;
    font-family: Poppins;
    border-radius: 50px;
    margin-top: -22px;
}
.bu a:hover{
    border: 2px solid lightgreen
}
/* Fans Tour Style */
.fans-tour-section{
    margin-bottom: 50px;
}
.fans-tour{
    display: flex;
    justify-content: space-evenly
}
.fans-tour-section img{
    width: 600px;
    height:450px;
}
/* Never Walk style */
.never-walk{
    /* font-family: Poppins; */
    font-size: 40px;
    text-align: center;
    color: gray;
}
.red-cup img{
    width: 100%;
}

/* Logo-section Style */
.logo-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 65px;
}
.logo img{
    width: 483.87px;
    height: 110px;
}
.icon{
    margin-left: 14px;
    margin-right: 14px;
}
.social-link a{
    
}
