/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Conmebol Copa America 2021 style */
.container{
    width: 100%;
    /* height: 677px; */
    background: #2D25A0;
    display: flex;
    margin-bottom: 70px;
}
.first-section{
    padding: 207px 85px 240px 156px;
    width: 485px;
}
.section-title{
    font-family: Poppins;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    color: #FFFFFF;
    margin-bottom: 27px;
}
.section-image img{
    width: 556px;
    height: 438px;
    padding: 135px 140px 114px 100px;
    overflow: hidden;
}
.section-image img:hover{
transform: scale(1.05);
transition: transform 1s ease-in-out 0.1s;
}
.first-section a, .highlights-info a{
    text-decoration: none;
    padding: 10px 30px;
    background: #E02C6D;
    color: white;
}
.left-arrow{
padding-left: 8px;
}


/* players style*/
.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 180px;
    margin-right: 180px;
}
.player{
    width: 330px;
    height: 474px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    padding: 15px;
    margin-bottom: 27px;
    overflow: hidden;
}
.player:hover{
    transform: scale(1.001);
    transition: transform 1s;
    border: 1px solid rgba(255, 0, 0, 0.418);
}
.player img{
    width: 100%;
}
.player h2{
    font-family: Poppins;
    /* font-weight: bold; */
    font-size: 28px;
    line-height: 40px;
    color: #18191F;
}
.player p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: #6C6C6C;
}


/* highlight style */
.highlights-section{
    margin-top: 138px;
    margin-left: 180px;
    display: flex;
    margin-bottom: 120px;
    /* margin-right: 180px; */
}
.highlights-info{
    width: 469px;
    margin-right: 120px;
    padding-top: 59px;
    font-family: Poppins; 
}
.highlights-title{
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 0px;
}
.highlights-text{
    margin-top: 0px;
}
.highlight-image img{
    width: 567px;
    height: 427px;
}
/* Store Style */
.store{
    margin-left: 180px;
    margin-right: 140px;
    margin-bottom: 100px;
}
.store-title h1{
    font-family: Poppins;
    font-weight: bold;
    font-size: 35px;
    color: #E3B01F
}
.sharts{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.shart{
    width: 330px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    /* border: 1px solid rgba(0, 255, 128, 0.5); */
    /* border: 1px solid rgba(128, 128, 128, 0.507) */
}
.shart-image{
    overflow: hidden;
}
.shart:hover img{
    transform: scale(1.6) rotate(360deg);
    transition: transform 1s ease-in-out;

    /* box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 255, 128, 0.5); */
    
}
.shart img{
    width: 100%;
}
.view-button{
    position: relative;
    padding-top: 30px;
    padding-right: 60px;
}
.view-button a{
    position: absolute;
    top: 100%;
    left: 40%;
    text-decoration: none;
    padding: 10px 50px;
    background-color: #E02C6D;
    color: white;
    font-family: Poppins;
    border-radius: 50px;
    margin-top: -22px;
}
.view-button a:hover{
    border: 2px solid lightgreen
}
/* Fans Tour Style */
.fans-tour-section{
    margin-bottom: 50px;
}
.fans-tour{
    display: flex;
    justify-content: space-evenly;
}
.fans, .tour{
    overflow: hidden;
}
.fans-tour-section img{
    width: 600px;
    height:450px;
}
.fans-tour-section img:hover{
    transform: scale(1.6);
    transition: transform 2s ease-in-out;
}
/* Never Walk style */
.never-walk{
    font-size: 40px;
    text-align: center;
    color: gray;
}
.red-cup img{
    width: 100%;
}

/* Logo-section Style */
.logo-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 65px;
}
.logo img{
    width: 483.87px;
    height: 110px;
}
.icon{
    margin-left: 14px;
    margin-right: 14px;
}

/* Media Queries */
/* Mobile Device */
@media only screen and (max-width:688px) {
    .container{
        display: block;
    }
    .first-section{
        padding: 112px 0px 124px 16px;
        width: 100%;
    }
    .section-title{
        font-family: Poppins;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        width: 278px;
        height: 138px;
    }
    .section-image img{
        padding: 0px 16px 61px 15px;
        width: 329px;
        height: 259.17px;
    }
    /* Players */
    .players{
        /* display: none; */
        display: block;
        margin-left: 15px;
        margin-right: 15px;
    }
    .player{
        margin-bottom: 24px;
    }

    /* Highlights */
    .highlights-section{
        margin: 0px 15px 50px 15px;
        flex-direction: column;
    }
    .highlights-info{
        width: 329px;
        margin-bottom: 29px;
        padding-top: 0px;
    }
    .highlights-title{
        font-size: 30px;
    }
    .highlight-image img{
        width: 328px;
        height: 248px;
    }
    /* Sotre */
    .store{
        margin: 0px 15px 0px 15px;
        padding-bottom: 30px;
    }
    .store-title h1{
        font-size: 25px;
    }
    .sharts{
        display: block
    }
    .view-button{
        padding: 10px 0px;
    }
    .view-button a{
        top: 55%;
        left: 30%;
        padding: 8px 30px;
    margin-bottom: 30px;
    }

    /* Fans Tour Style */
    .fans-tour{
        display: block;
        margin-bottom: -30px;
    }
    .fans-tour-section img{
        width: 400px;
        height:400px;
    }
    .fans, .tour{
        margin-bottom: 10px;
    }

    /* Never Walk style */
    .never-walk{
        font-size: 11px;
    }

    /* Logo Section Style */
    .logo-section{
        padding-left: 71px;
        padding-right: 71px;
    }
    .logo img{
        width: 100%;
        height: 60px;
    }
    .icon{
        margin-left: 7px;
        margin-right: 7px;
    }

}

/* Tablet Device */
@media only screen and (min-width:689px) and (max-width:1020px){
    .container{
        /* display: block; */
    }
    .first-section{
        padding: 112px 0px 124px 16px;
        width: 100%;
    }
    .section-title{
        font-family: Poppins;
        font-weight: bold;
        font-size: 36px;
        line-height: 50px;
        width: 278px;
        height: 138px;
    }
    .section-image img{
        padding: 70px 16px 61px 15px;
        width: 329px;
        height: 259.17px;
    }
    .players{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 15px;
        margin-right: 15px;
    }
    .player{
        margin-bottom: 24px;
    }
    /* Highlights */
    .highlights-section{
        margin: 40px 15px 50px 15px;
    }
    .highlights-info{
        width: 329px;
        margin-right: 43px;
        margin-bottom: 29px;
        padding-top: 0px;
    }
    .highlights-title{
        font-size: 28px;
    }
    .highlight-image img{
        width: 328px;
        height: 248px;
    }
    /* Sotre */
    .store{
        margin: 0px 15px 0px 15px;
        padding-bottom: 30px;
    }
    .store-title h1{
        font-size: 35px;
    }
    .sharts{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .shart{
        margin-bottom: 10px;
    }
    .view-button{
        padding: 10px 0px;
    }
    .view-button a{
        top: 55%;
        left: 37%;
        padding: 8px 30px;
        margin-bottom: 30px;
    }

    /* Fans Tour Style */
    .fans-tour{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-bottom: -30px;
    }
    .fans-tour-section img{
        width: 355px;
        height:355px;
    }
    .fans, .tour{
        margin-bottom: 10px;
    }
    /* Never Walk style */
    .never-walk{
        font-size: 22px;
    }

    /* Logo Section Style */
    .logo-section{
        padding-left: 71px;
        padding-right: 71px;
    }
    .logo img{
        width: 100%;
        height: 70px;
    }
    .icon{
        margin-left: 10px;
        margin-right: 10px;
    }
}